<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304644690082-39sltnnigu6perensg3gijmq3jqio8l8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304644690082-39sltnnigu6perensg3gijmq3jqio8l8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>304644690082-0s11tqu1scargr5g0s0ui1dr3vfhe1m0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVPfZDoCUMilMxAx5ed7aStczvNIa3E7g</string>
	<key>GCM_SENDER_ID</key>
	<string>304644690082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.covidtracker.vmd</string>
	<key>PROJECT_ID</key>
	<string>vite-ma-dose</string>
	<key>STORAGE_BUCKET</key>
	<string>vite-ma-dose.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304644690082:ios:767cd5f98797ddb425c7fb</string>
</dict>
</plist>