<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chronodose_min_count</key>
	<string></string>
	<key>data_disclaimer_message</key>
	<string></string>
	<key>data_disclaimer_enabled</key>
	<false/>

	<key>ios_maintenance_mode_url</key>
	<string></string>
	<key>url_base</key>
	<string>https://vitemadose.gitlab.io</string>
	<key>path_stats</key>
	<string>/vitemadose/stats.json</string>
	<key>path_list_departments</key>
	<string>/vitemadose/departements.json</string>
	<key>path_data_department</key>
	<string>/vitemadose/{code}.json</string>
	<key>vaccination_centres_list_radius_in_km</key>
	<string>50</string>
</dict>
</plist>
